<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.kruchian.photohuntgame"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>Photohunt Game</name>

  <description>
      Photohunt Game.
  </description>

  <author href="https://build.phonegap.com" email="1210@sts.ac.th">
      kruchian p.
  </author>

</widget>
